body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #222;
  font-family: 'VT323', monospace;
}


/* new app */

.App {
  text-align: center;
  color: #00CC00
}
.padding-cont{
  padding: 10px;
}

.App-conf-container {
  max-width: 200px;
  padding: 10px;
  font-size: 30px;
  color: white;
}

.App-header {
  background-color: red;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

.App-title {
  font-size: 1.8em;
  color: white;
}

.App-sub-title {
  font-size: 1.5em;
  color: white;
}

.blur_anim {
  -webkit-animation: motionblur 4s ease-in-out infinite;
  animation: motionblur 4s ease-in-out infinite;
}

.App-intro-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.App-intro {
  max-width: 600px;
  font-size: 25px;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-bordered-section{
  border: 1px solid #00BE16;
  border-radius: 15px;
  padding: 25px;
  max-width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.radio-text  {
  color: white;
  margin: 5px;
  font-size: 20px;
}

.patient-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



.patient-card {
  margin: 50px;
  border: 1px solid #00BE16;
  border-radius: 15px;
  max-width: 250px;
  padding: 25px;
  font-size: 18px;
}

.patient-card img {
  margin-top: 10px;
}
.patient-card input {
  margin-right: 5px;
}

.checkboxes-container {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.btn-green {
  color: #222;
  border: 1px solid #00BE16;
  background-color: #00BE16;
  padding: 10px;
  border-radius: 5px;
  font-size: 30px;
}

.App-outcome {
  margin-top: 25px;
  font-size: 25px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes motionblur {
  0% {
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 rgba(200, 0, 0, 0);
  }
  {
    -webkit-transform: scaleX(0.95);
  }
  25% {
    text-shadow: -5px 0 5px rgba(255, 255, 255, 1);
    -webkit-transform: scaleX(1.1) skewX(-1deg);
  }
  50% {
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 rgba(200, 0, 0, 0);
  }
  55% {}
  75% {
    text-shadow: 5px 0 5px rgba(255, 255, 255, 1);
  }
  100% {
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 rgba(200, 0, 0, 0);
  }
}

a {
  color: white;
}

a:visited {
  color: white;
}

a:active {
  color: white;
}
